# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=testyourfriends

# Backend
DATABASE_URL=postgresql://postgres:postgres@postgres:5434/testyourfriends?schema=public
REDIS_HOST=redis
REDIS_PORT=6381
PORT=3020

# Frontend
NEXT_PUBLIC_API_URL=http://localhost/api
